<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="mqtt.client">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
            android:usesCleartextTraffic="true">

        <service
                android:name=".MqttService"
                android:enabled="true"
                android:exported="false"
                android:process=":sync"
        />
        <service
                android:name="androidx.work.impl.background.systemjob.SystemJobService"
                android:process=":sync"/>
        <receiver
                android:name=".NetworkChangeReceiver"
                android:process=":sync">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>